# General
**/__pycache__/
**/*.pyc
**/*.egg-info/
**/mypy_cache/

# Development
dev/cache_pyc_rmer.py

# Project root
build/
misc/
nuitka-crash-report.xml
old_vers/
push.sh
releases/
tmp/
.venv/

# Tests
tests/lexer/*.txt
tests/lexer/**/

# Project source
src/quark.log
src/quark.txt
src/quark_hist.txt
